---
---
$base-font-family: "Inter", sans-serif;

@import "minima";

body {
  font-size: 18px
}

.site-header-content {
  min-height: 55.95px;
  display: grid;
  grid-template-columns: 1fr auto auto; 
  column-gap: 30px;
}
.site-title {
  display: flex;
  align-items: center;
}
.social-links {
  align-self: center;
  display: grid;
}
.social-media-list {
  justify-self: center;
  display: flex;
  gap: 5px;
}
.social-media-link {
  display: flex;
  align-self: center;
}
.social-media-link .svg-icon {
  fill: #000;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }

  .site-header-content {
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
  }
}

.project-pagination {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 30px;
}